# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/
target/

# Debug
npm-debug.log*

# Local env
.env*.local
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/
timescale_data/
redis_data/
kafka_data/
zookeeper_data/
